@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">HpeLad Shop</h1>
        <p><a href="https://Home" class="btn btn-primary btn-md">Go..! &raquo;</a></p>
    </section>
</main>